
html, body, #root{
  height: 100%;
  width: 100%;
}

*{
  box-sizing: border-box;
  margin: 0;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 5em;
  line-height: 1.1;
  pointer-events: all;
}

.canvas{
  width: "100%";
  height: "100%";
  overflow: hidden;
}

.app{
  position: relative;
  z-index: 2;
  pointer-events: all;
}

.eyes{
  transform: translateY(-50%);
  width: 2rem;
  text-align: center;
}

.eye{
  width: 100px;
  height: 50px;
  background: #fff;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.ball{
  width: 40px;
  height: 40px;
  background: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 15px solid #333;
}

.hideScroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hideScroll {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box; /* So the width will be 100% + 17px */
}

.container1 {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  scroll-behavior: smooth;
}

.section1{
  height: 100vh;
  scroll-snap-align: start;
  position: relative;
}

.section2{
  min-height: 100vh;
  scroll-snap-align: start;
}

.fullMinus1{
  height: calc(100vh - 1px);
}

.contact{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 120;
}

.fadeOut{
  position: absolute;
  animation: fadeout 3s forwards;
  z-index: 80;

}

.fadeOutBottom{
  position: absolute;
  animation: fadeoutBottom 3s forwards;
  z-index: 80;
}

.minimize{
  animation: minimize 3s forwards;
}

.minimizeSmall{
  animation: minimizeSmall 3s forwards;
}

.displaynone{
  display: none !important;   
}

@keyframes minimize {
  0%{
    width: 500px;
    height: 400px;
  }
  100%{
    width: 0px;
    height: 0px;
  }
}

@keyframes minimizeSmall {
  0%{
    width: 300px;
    height: 450px;
  }
  100%{
    width: 0px;
    height: 0px;
  }
}

@keyframes fadeout {
  0%{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 1
  }
  100%{
    top: 50%;
    left: 0%;
    transform: translate(-50%,-50%);
    opacity: 0
  }
}

@keyframes fadeoutBottom {
  0%{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 1
  }
  100%{
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0
  }
}
